@import 'node_modules/carbon-components/scss/components/card/card';
@mixin glo($size,$color,$bcolor,$bsize)
{
        .fm
        {
            font-family: Courier New, Courier, monospace;
            font-size: $size;
            color: $color;
        }
        .button
        {
            background-color: $bcolor;
            color: white;
            display: inline-block;
            font-size: $bsize;
            border: none;
            padding: 15px 10px;
            margin: 1px 1px;
            cursor: pointer;
        }
}
@include glo(15px,rgb(0, 0, 0),rgb(196, 39, 39),13px);